site_name: QuantumGrav Documentation
nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Datasets and Preprocessing: datasets_and_preprocessing.md
  - Graph Neural Network models: models.md
  - Model Training: training_a_model.md
  - Hyperparameter Tuning: hparam_tuning.md
  - API documentation: api.md
  - License: license.md
theme:
  name: material
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.footer
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.suggest
    - toc.follow
  icon:
    admonition:
      note: material/pencil-circle
plugins:
  - search
  - mkdocs-jupyter:
      ignore_h1_titles: True
  - mkdocstrings:
      handlers:
        python:
          paths: [src]

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences