--index-url https://download.pytorch.org/whl/cpu
-f https://data.pyg.org/whl/torch-2.8.0+cpu.html

torch==2.8
torchvision
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv