name: docs
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
jobs:
  build_and_deploy_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-

      - name: Install package and dependencies
        working-directory: ./QuantumGravPy
        run: pip install -r docs/requirements.txt
      - name: Deploy documentation
        working-directory: ./QuantumGravPy
        run: mkdocs gh-deploy

  build_and_deploy_julia:
    runs-on: ubuntu-latest
    permissions:
        actions: write
        contents: write
        pull-requests: read
        statuses: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: julia-actions/setup-julia@v2
        with:
            version: 1
      - uses: julia-actions/cache@v2
      - name: Install deps
        working-directory: ./QuantumGrav.jl
        shell: julia --color=yes --project=docs {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: Build and deploy
        working-directory: ./QuantumGrav.jl
        run: julia --color=yes --project=docs docs/make.jl
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # If authenticating with GitHub Actions token



